
/* Estilos login */
.border-login-book {
    border: 3px solid #9e7441 !important;
    margin-bottom: 0 !important;
    border-radius: 1rem;
}
input#email {
    height: 3.5rem;
    border: 1px solid #9f793d;
    border-radius: 2rem;
}
button#btn-login-book {
    background: #9f793d !important;
    border-color: #9f793d !important;
    border-radius: 1.5rem;
    font-size: 1.4rem;
}


/* Estilos para la navegación */
#main-nav {
    background: #9f793d !important;
    padding: 0 1rem;
}
.navbar-brand {
    margin-right: 3rem !important;
}
.nav-link-book {
    color: #fff !important;
    font-size: 1rem;
    font-weight: 500;
}
